img.carImage{
    height: 120px;
    max-width:initial;
    pointer-events: none;
}

.title{
    font-weight: bold;
    text-transform: uppercase;

}

.content{
    background-color: #fff;
    padding:8px ;
    border-radius: 0.25rem;
}